*,
html,
body {
  margin: 0;
  padding: 0;
  font-family: Helvetica;
}

.container {
  background-color: #f7efc1;
  padding-bottom: 30px;
}

/* navbar start */

.containerfluid {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
}

.navi {
  display: flex;
  list-style: none;
  margin-top: 30px;
  font-size: 15px;
  font-weight: 700;
}

.ul-navbar1 {
  font-size: 20px;
  margin-right: 310px;
  width: 109px;
  height: 26px;
  left: 117px;
  top: 1070px;
}

.ul-navbar2 {
  margin-right: 80px;
  text-decoration: none;
}

.ul-navbar3 {
  margin-right: 90px;
  text-decoration: none;
}

.ul-navbar4 {
  margin-right: 90px;
  text-decoration: none;
}

.ul-navbar5 {
  margin-right: 90px;
  text-decoration: none;
}

.img-food {
  width: 30px;
  height: 30px;
  background-color: #f7efc1;
}

.a-navbar {
  color: black;
  text-decoration: none;
}

.brand {
  color: black;
  text-decoration: none;
}

.icon-shop {
  color: #ffd700;
  border: 2px;
  border-radius: 100%;
  border-color: #ffd700;
}

.img-shop {
  width: 24px;
  height: 20px;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -10px;
  margin-left: 25px;
  width: 30px;
  height: 30px;
  background-color: #f7efc1;
  border-radius: 100%;
  border: 1.5px;
  border-style: solid;
  border-color: #ffa600;
}

.icon {
  width: 20px;
  height: 20px;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  margin-top: -11px;
  margin-left: 10px;
  margin-right: 50px;
  font-size: 15px;
  background-color: #ffa600;
  border: none;
  border-radius: 35px;
  width: 128px;
  height: 35px;
}

.card-f {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -5px;
  margin-left: 50px;
  width: 30px;
  height: 30px;
  background-color: white;
}

/* navbar end */

/* content start */

.pjk h1 {
  font-size: 50px;
  max-width: 500px;
  margin-left: -50px;
  margin-top: 80px;
}

.pjk p {
  max-width: 400px;
  font-size: 12px;
  margin-left: -40px;
  margin-top: 5px;
  color: #a5a5a5;
}

.box-i {
  margin-top: 20px;
}

.search {
  margin-top: -30px;
}

.box-a {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 50px;
  font-size: 13px;
  background-color: #ffa600;
  border: none;
  border-radius: 25px;
  width: 110px;
  height: 30px;
  font-weight: 700;
}

.img-search {
  width: 10px;
  height: 10px;
  margin-right: 7px;
}

.box-s {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 175px;
  font-size: 13px;
  background-color: #f7efc1;
  border: 2px;
  border-style: solid;
  border-radius: 40px;
  border-color: #ffa600;
  width: 95px;
  height: 30px;
  font-weight: 700;
}

.home {
  display: flex;
  justify-content: space-around;
}

.homeimg img {
  width: 30rem;
}

/* content end */

/* populer dishes start */

.popular-container {
  margin: 0px auto;
  max-width: 1250px;
  width: 100%;
}

.slide-name {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.slide-name h3 {
  font-size: 25px;
}

.btn-ar {
  width: 30px;
  height: 30px;
  background-color: #f7efc1;
  border-radius: 100%;
  border: 1px solid #ffa600;
}

.btn-ar:hover {
  background-color: #ffa600;
}

.slide-item {
  position: relative;
  background-color: white;
  margin: 10px 0px;
  display: flex;
  flex-direction: column;
  text-align: center;
  max-width: 350px;
  height: 270px;
  border-radius: 25px;
}
.img-card {
  display: flex;
  justify-content: center;
  padding: 0px 0px 0px 0px;
}
.img-card img {
  width: 10rem;
}

.desc-card h3 {
  font-size: 17px;
}
.desc-card p {
  margin: 10px 8px;
  font-size: 12px;
  text-align: center;
}
.price-card {
  margin: 5px 0px 0px 0px;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}
.price-card button {
  padding: 8px 12px;
  border-radius: 15px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  background-color: #ffa600;
  font-weight: bold;
}
.button-add:hover {
  background-color: white;
  border: 1px solid #ffa600;
}
.swiper-pagination {
  position: relative;
  margin: 10px 0px 0px 0px;
  opacity: 1;
}

.slide-item {
  max-width: 200px;
}

/* .slide-item {
  max-width: 200px;
} */

/* populer dishes end */

/* content B start */

/* content B end */

/* content C start */

/* content C end */

/* content A start */

/* content A end */
